[package]
name = "flir"
description = "R linter written in Rust"
authors = ["Etienne Bacher"]
version = "0.0.9"
edition = "2024"

license-file = "LICENSE.md"

repository = "https://github.com/etiennebacher/flir2/"
readme = "README.md"

[[bin]]
name = "flir"
path = "src/main.rs"

[lib]
name = "flir"
path = "src/lib.rs"
crate-type = ["cdylib", "rlib"]

[profile.release]
lto = true

# The profile that 'dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

[build-dependencies]

[dependencies]
colored = "2.1.0"
rayon = "1.10.0"
serde = "1.0.215"
air_r_parser = { git = "https://github.com/posit-dev/air", rev = "2ef782d816678fe23378eb802d81eb79f981b1b2" }
air_r_syntax = { git = "https://github.com/posit-dev/air", rev = "2ef782d816678fe23378eb802d81eb79f981b1b2" }
air_workspace = { package = "workspace", git = "https://github.com/posit-dev/air", rev = "2ef782d816678fe23378eb802d81eb79f981b1b2" }
air_fs = { package = "fs", git = "https://github.com/posit-dev/air", rev = "2ef782d816678fe23378eb802d81eb79f981b1b2" }
clap = { version = "4.5.21", features = ["derive"] }
walkdir = "2.5.0"
anyhow = "1.0.94"
tempfile = "3.14.0"
# MUST BE SAME AS IN `air`
biome_rowan = { git = "https://github.com/biomejs/biome", rev = "2648fa4201be4afd26f44eca1a4e77aac0a67272" }
rustc-hash = "2.1.1"
rust-lapper = "1.1.0"
smallvec = "1.13.2"
assert_cmd = "2.0.17"


[dev-dependencies]
insta = { version = "1.42.0", features = ["yaml"] }
regex = "1.11.1"

[dependencies.regex]
version = "1.11.1"
default-features = false
# Unless you have a specific reason not to, it's good sense to enable standard
# library support. It enables several optimizations and avoids spin locks. It
# also shouldn't meaningfully impact compile times or binary size.
features = ["std"]
