[package]
name = "flint"
description = "R linter written in Rust"
authors = ["Etienne Bacher"]
version = "0.0.4"
edition = "2021"

license-file = "LICENSE.md"

repository = "https://github.com/etiennebacher/rfmt2/"
readme = "README.md"

[[bin]]
name = "flint"
path = "src/main.rs"

[lib]
name = "flint"
path = "src/lib.rs"
crate-type = ["cdylib", "rlib"]

[profile.release]
lto = true

[build-dependencies]

[dependencies]
colored = "2.1.0"
rayon = "1.10.0"
serde = "1.0.215"
air_r_parser = { git = "https://github.com/posit-dev/air", rev = "4b66d9c9305de24fba54c1c700aba69e52c73c4b" }
air_r_syntax = { git = "https://github.com/posit-dev/air", rev = "4b66d9c9305de24fba54c1c700aba69e52c73c4b" }
clap = { version = "4.5.21", features = ["derive"] }
walkdir = "2.5.0"
anyhow = "1.0.94"
tempfile = "3.14.0"
# MUST BE SAME AS IN `air`
biome_rowan = { git = "https://github.com/biomejs/biome", rev = "2648fa4201be4afd26f44eca1a4e77aac0a67272" }


[dev-dependencies]
insta = { version = "1.42.0", features = ["yaml"] }
regex = "1.11.1"

[dependencies.regex]
version = "1.11.1"
default-features = false
# Unless you have a specific reason not to, it's good sense to enable standard
# library support. It enables several optimizations and avoids spin locks. It
# also shouldn't meaningfully impact compile times or binary size.
features = ["std"]
